<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ CALENDAR_LABEL }} calendar access</title>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
		<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
			<div class="ui container">
				<a class="header item">{{ CALENDAR_LABEL }} calendar access</a>
				<a class="item" href="https://gitlab.com/RunasSudo/calendaradd">Source Code (AGPLv3)</a>
			</div>
		</div>
		<div class="ui main text container" style="margin-top: 7em; margin-bottom: 3em;">
			{% block content %}{% endblock %}
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	</body>
</html>
