{% extends 'base.html' %}

{% block content %}
	<p>Click the button below to add the {{ CALENDAR_LABEL }} calendar to your Google Calendar:</p>
	
	<form action="addme" method="post"><button type="submit" class="ui primary button">Add to Google Calendar</button></form>
	
	{% if error %}
		<div class="ui error message">
			<div class="header">Error</div>
			<p>{{ error }}</p>
		</div>
	{% endif %}
{% endblock %}
