{% extends 'base.html' %}

{% block content %}
	<div class="ui success message">
		<div class="header">Success</div>
		<p>The account <b>{{ email }}</b> was added to the {{ CALENDAR_LABEL }} calendar. Check your email for a confirmation notice. You should now be able to add events using <a href="https://www.google.com/calendar/render">Google Calendar</a>.</p>
	</div>
{% endblock %}
